@import "tailwindcss";

:root {
  --background: #d5d6d0;
  --foreground: #612525;
  --brand-yellow: #f4d342;
  --brand-cyan: #51c7b9;
  --brand-pink: #ff69b4;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Roboto", sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-cyan: var(--brand-cyan);
  --color-brand-pink: var(--brand-pink);
}

html {
  color: var(--foreground);
  font-family: "Roboto", sans-serif;
}

body {
  background: var(--background);
  color: inherit;
  font-family: inherit;
}
